.header {
	padding: 15px;
	border-bottom: #fff 2px solid;
}

.header__nav {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header__title {
	color: #fff;
}

.header__btn {
	font-size: 30px;
	border: #fff 2px solid;
	background-color: transparent;
	border-radius: 3px;
	color: #fff;
	padding: 0 10px;
	cursor: pointer;
}